main
{
    margin-top: var(--header-height);
    padding: 0;
    display: flex;
    align-items: center;
    justify-self: center;
}

.idk-draw-something
{
    width: fill;
    height: fill;
    background-color: black;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.draw-board
{
    font-family: monospace;
    width: max-content;  /* must stay this way! */
    height: max-content; /* must stay this way! */
    color: white;
    background-color: black;
    letter-spacing: 1px;
    line-height: 0.95;
    row-gap: 0px;
}

.pallet
{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 100px;
    flex-wrap: wrap;
}
.pallet button
{
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    cursor: pointer;
}