
main
{
    margin-top: var(--header-height);
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px; 
    margin-top: var(--header-height); 
    padding: 10px;
}


.idk-draw-something
{
    width: fill;
    height: fill;
    width: 80%;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.draw-board
{
    font-family: monospace;
    width: max-content;  /* must stay this way! */
    height: max-content; /* must stay this way! */
    color: white;
    background-color: black;
    letter-spacing: 1px;
    line-height: 0.95;
    row-gap: 0px;
}

.pallet
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: space-apart;
    width: 5%;
    flex: 0 1 auto; 
    padding: 10px; 
    background-color: var(--light-gray);
}
.pallet button
{
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    cursor: pointer;
}

.icon
{
    width:16px;
    height: 16px;
}

.hidden
{
    visibility: hidden;
}

.hidden:hover
{
    visibility: visible;
}
