body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
main
{
    margin-top: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: stretch;
    width: 100%;
    
    
}

form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    border: 2px outset var(--orange);
    border-radius: 10px;
    padding: 30px;
    background-color: var(--light-gray);

    
}

form input[type="submit"]
{
    width: 100%;
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--black);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: 2px outset var(--gray);
    font: var(--font);
}

form input[type="submit"]:hover
{
    background-color: var(--orange);
    border: 2px inset var(--gray);
}

h2
{
    text-align: center;
}

form input[type="text"], form input[type="password"], form input[type="email"]
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
    font: var(--font);
    text-align: center;
}