@font-face {
    font-family: 'ThickBoy-Regular';	
    src: url('../assets/fonts/thicccboi/fonts/TTF/THICCCBOI-Regular.ttf') format('ttf'),
         url('../assets/fonts/thicccboi/fonts/Webfont/THICCCBOI-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --purple: #5A30E5;
    --blue: #37BCC2;
    --red: #F03B21;
    --orange: #F9AA0C;
    --black: #000000;
    --gray: #272732f3;
    --white: #FFFFFF;
    --font: ThickBoy-Regular;
    --header-height: 10%;
    font-family: var(--font);

}

body {
    margin: 0;
    background-color: var(--gray);
    color: var(--white);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--white);
    opacity: 0.9;
    z-index: 1000;
}

.logo {
    width: auto;
    height: 60%;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1em;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--blue);
}

.hero {
    display: flex; 
    flex-direction: column;
    justify-self: center; 
    align-items: center; 
    text-align: center;
    padding-top: var(--header-height);
    width: 100%;
    height: 100%;
    
}

/* .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/starry-night.png');
    background-size: cover;
    background-position: center;
    opacity: 0.04; 
    z-index: -1; 
} */

.hero h1 {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    font-style: bold;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 3em;
}
.hero p {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--blue);
    margin: 0; /* Remove default margin */
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 2%;
}
.hero button {
    margin-top: 2%;
    font-weight: bold;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    height: 10%;
    padding: 1%;
}
.hero button:hover {
    background-color: var(--white);
}
footer {
    position:fixed;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    bottom:0px; 
    height:5%; 
    left:0px; 
    right:0px; 
    opacity: 0.8;
}